<h1>Orders#new</h1>

<%= form_tag farm_orders_path, method: :post do %>
    <% @fruits.each do |fruit| %>
        <%= label_tag fruit.name %>
        <%= number_field_tag name=fruit.name %>
    <% end %>
    <%= submit_tag "submit" %>
<% end %>
